.section_5 {
    background:$background_section;
    border:1px solid $border;
    border-radius:5px;
    color:$text;
    font-family:blinker;
    margin-top:50px;
    width:100%;
    .left {
        border:1px solid $border;
        .bottom {
            margin-top:35px;
            width:80%;
            .product_images {
                margin:5px;
                .product_5 {
                    border:1px solid $border;
                    padding:5px;
                    &:hover {
                        cursor:pointer;
                    }
                }
                .product_6 {
                    border:1px solid $border;
                    padding:5px;
                    &:hover {
                        cursor:pointer;
                    }
                }
                .product_7 {
                    border:1px solid $border;
                    padding:5px;
                    &:hover {
                        cursor:pointer;
                    }
                }
                .product_8 {
                    border:1px solid $border;
                    padding:5px;
                    &:hover {
                        cursor:pointer;
                    }
                }
            }
        }
        .product_1 {
            display:none;
            padding:15px;
        }
        .product_2 {
            display:none;
            padding:15px;
        }
        .product_3 {
            padding:15px;
        }
        .product_4 {
            display:none;
            padding:15px;
        }
    }
    h3 {
        @include h3;
        margin-left:25px;
        margin-top:25px;
    }
    h4 {
        @include h4;
        margin-left:25px;
        margin-top:25px;
        span {
            color:$sizes;
            font-size:16px;
        }
    }
    .right {
        .buttons {
            padding-bottom:25px;
            margin-left:25px;
            margin-top:20px;
            a {
                border:1px solid $button;
                border-radius:5px;
                color:$button;
                display:inline-block;
                font-size:14px;
                margin-left:5px;
                padding:7.5px;
                text-decoration:none;
            }
            button {
                padding:6.5px;
            }
        }
        .elements {
            display:grid;
            grid-template-columns:30% 70%;
            margin-top:25px;
            .model {
                font-family:blinker_bold;
                margin-left:25px;
            }
            p {
                color:$price;
                margin-left:0;
            }
        }
        .elements_color {
            display:grid;
            grid-template-columns:30% 70%;
            .color {
                font-family:blinker_bold;
                margin-left:25px;
            }
            p {
                color:$price;
                margin-left:0;
            }
        }
        .elements_delivery {
            border-bottom:1px solid $border;
            display:grid;
            grid-template-columns:30% 70%;
            margin-bottom:20px;
            margin-left:25px;
            margin-right:25px;
            padding-bottom:20px;
            .delivery {
                font-family:blinker_bold;
            }
            .delivery_info {
                position:relative;
                right:10px;
            }
            p {
                color:$price;
                margin-left:0;
            }
        }
        .info {
            color:$text;
            margin-left:0;
        }
        .orders {
            margin-left:5px;
        }
        .orders_area {
            display:inline;
            img {
                display:inline;
                margin-left:20px;
            }
        }
        p {
            color:$sizes;
            display:inline;
            margin-left:20px;
        }
        .quantity_ar {
            display:inline;
            .quantity {
                color:$text;
                display:inline;
                margin:0;
                margin-left:25px;
                padding:0;
            }
        }
        .quantity_area {
            margin-left:25px;
            margin-top:20px;
            .form_area {
                display:inline;
                form {
                    display:inline;
                    margin-left:120px;
                    .middle {
                        margin-left:15px;
                    }
                    .right {
                        margin-left:15px;
                    }
                }
            }
            .quantity_form {
                display:inline;
                .quantity_fo {
                    display:inline;
                    button {
                        background:$background_section;
                        border:1px solid $border;
                        border-radius:3px;
                    }
                    .one {
                        border:1px solid $border;
                        border-radius:3px;
                        padding-left:10px;
                        width:30px;
                    }
                }
            }
        }
        .rew {
            margin-left:5px;
        }
        .select {
            color:$text;
            display:inline;
            margin-left:100px;
        }
        .stars_area {
            display:inline;
            img {
                display:inline;
                margin-left:25px;
            }
        }
        .text {
            color:$text;
            margin-left:25px;
        }
    }
}


@media (max-width:475px) {
    .section_5 {
        .left {
            .large_img {
                display:flex;
                justify-content:center;
            }
        }
        .right {
            .buttons {
                display:flex;
                justify-content:center;
                margin-left:0;
                a {
                    img {
                        display:inline;
                    }
                }
            }
            .elements {
                grid-template-columns:100% 100%;
                .model {
                    grid-row:1;
                    margin-left:0;
                }
                .model_info {
                    grid-row:2;
                }
            }
            .elements_color {
                grid-template-columns:100% 100%;
                margin-top:35px;
                .color {
                    grid-row:1;
                    margin-left:0;
                }
                .color_info {
                    grid-row:2;
                }
            }
            .elements_delivery {
                grid-template-columns:100% 100%;
                margin-top:35px;
                .delivery {
                    grid-row:1;
                    margin-left:0;
                }
                .delivery_info {
                    grid-row:2;
                    right:0;
                }
            }
            h3 {
                margin-left:0;
                text-align:center;
            }
            h4 {
                margin-left:0;
                text-align:center;
            }
            img {
                display:block;
            }
            .orders {
                margin-left:0;
            }
            .orders_area {
                display:flex;
                justify-content:center;
                img {
                    margin-left:0;
                }
            }
            .quantity_ar {
                display:flex;
                justify-content:center;
                .quantity {
                    margin-left:0;
                    text-align:center;
                }
            }
            .quantity_area {
                display:block;
                margin-left:0;
                .form_area {
                    display:flex;
                    justify-content:center;
                    form {
                        display:block;
                        margin-left:0;
                        margin-top:20px;
                        small {
                            font-size:12px;
                        }
                    }
                }
                .quantity_form {
                    display:flex;
                    justify-content:center;
                }
            }
            p {
                display:block;
                margin-left:0;
                text-align:center;
            }
            .select {
                display:none;
            }
            .stars_area {
                display:flex;
                justify-content:center;
                img {
                    margin-left:0;
                }
            }
            .text {
                margin-left:0;
                .info {
                    margin-left:0;
                    text-align:center;
                }
            }
        }
    }
}


@media (min-width:476px) and (max-width:1199px) {
    .section_5 {
        .left {
            .large_img {
                display:flex;
                justify-content:center;
            }
        }
        .right {
            .quantity_area {
                form {
                    margin-left:25px;
                }
            }
        }
    }
}


@media (min-width:1200px) and (max-width:1225px) {
    .section_5 {
        .right {
            .quantity_area {
                form {
                    margin-left:100px;
                }
            }
        }
    }
}


@media (min-width:1601px) and (max-width:2000px) {
    .section_5 {
        border:1.25px solid $border;
        border-radius:6.2px;
        margin-top:62px;
        .left {
            border:1.25px solid $border;
            .bottom {
                margin-top:43px;
                .product_images {
                    margin:6.2px;
                    .product_5 {
                        border:1.25px solid $border;
                        height:auto;
                        padding:6.2px;
                        width:125%;
                    }
                    .product_6 {
                        border:1.25px solid $border;
                        height:auto;
                        padding:6.2px;
                        width:125%;
                    }
                    .product_7 {
                        border:1.25px solid $border;
                        height:auto;
                        padding:6.2px;
                        width:125%;
                    }
                    .product_8 {
                        border:1.25px solid $border;
                        height:auto;
                        padding:6.2px;
                        width:125%;
                    }
                }
            }
            .product_1 {
                height:auto;
                padding:18px;
                width:125%;
            }
            .product_2 {
                height:auto;
                padding:18px;
                width:125%;
            }
            .product_3 {
                height:auto;
                padding:18px;
                width:125%;
            }
            .product_4 {
                height:auto;
                padding:18px;
                width:125%;
            }
        }
        h3 {
            @include h3_2000;
            margin-left:31px;
            margin-top:31px;
        }
        h4 {
            @include h4_2000;
            margin-left:31px;
            margin-top:31px;
            span {
                font-size:20px;
            }
        }
        .right {
            .buttons {
                padding-bottom:31px;
                margin-left:31px;
                margin-top:25px;
                a {
                    border:1.25px solid $button;
                    border-radius:6.2px;
                    font-size:17px;
                    margin-left:6.2px;
                    padding:6.5px;
                    position:relative;
                    top:2px;
                    img {
                        height:18px;
                        width:25px;
                    }
                }
                button {
                    font-size:17px;
                    padding:8.1px;
                }
            }
            .elements {
                margin-top:31px;
                .model {
                    font-size:20px;
                    margin-left:31px;
                }
                .model_info {
                    font-size:20px;
                }
            }
            .elements_color {
                .color {
                    font-size:20px;
                    margin-left:31px;
                }
                .color_info {
                    font-size:20px;
                }
            }
            .elements_delivery {
                border-bottom:1.25px solid $border;
                margin-bottom:25px;
                margin-left:31px;
                margin-right:31px;
                padding-bottom:25px;
                .delivery {
                    font-size:20px;
                }
                .delivery_info {
                    font-size:20px;
                    right:12.5px;
                }
            }
            .orders {
                font-size:20px;
                margin-left:6.2px;
            }
            .orders_area {
                img {
                    height:25px;
                    margin-left:25px;
                    width:18px;
                }
            }
            p {
                margin-left:25px;
            }
            .quantity_ar {
                .quantity {
                    font-size:20px;
                    margin-left:31px;
                }
            }
            .quantity_area {
                margin-left:31px;
                margin-top:25px;
                .form_area {
                    form {
                        margin-left:150px;
                        .la {
                            font-size:20px;
                        }
                        .mi {
                            font-size:20px;
                        }
                        .middle {
                            margin-left:18px;
                        }
                        .right {
                            margin-left:18px;
                        }
                        .sm {
                            font-size:20px;
                        }
                    }
                }
                .quantity_form {
                    .quantity_fo {
                        button {
                            border:1.25px solid $border;
                            border-radius:3.7px;
                            font-size:20px;
                        }
                        .one {
                            border:1.25px solid $border;
                            border-radius:3.7px;
                            font-size:20px;
                            padding-left:12.5px;
                            width:37px;
                        }
                    }
                }
            }
            .rew {
                font-size:20px;
                margin-left:6.2px;
            }
            .select {
                font-size:20px;
                margin-left:125px;
            }
            .stars_area {
                img {
                    height:22px;
                    margin-left:31px;
                    width:132px;
                }
            }
            .text {
                margin-left:31px;
                .info {
                    font-size:20px;
                }
            }
        }
    }
}


@media (min-width:2001px) and (max-width:2500px) {
    .section_5 {
        border:1.56px solid $border;
        border-radius:7.7px;
        margin-top:77px;
        .left {
            border:1.56px solid $border;
            .bottom {
                margin-top:53px;
                .product_images {
                    margin:7.7px;
                    .product_5 {
                        border:1.56px solid $border;
                        height:auto;
                        padding:7.7px;
                        width:150%;
                    }
                    .product_6 {
                        border:1.56px solid $border;
                        height:auto;
                        padding:7.7px;
                        width:150%;
                    }
                    .product_7 {
                        border:1.56px solid $border;
                        height:auto;
                        padding:7.7px;
                        width:150%;
                    }
                    .product_8 {
                        border:1.56px solid $border;
                        height:auto;
                        padding:7.7px;
                        width:150%;
                    }
                }
            }
            .product_1 {
                height:auto;
                padding:22px;
                width:150%;
            }
            .product_2 {
                height:auto;
                padding:22px;
                width:150%;
            }
            .product_3 {
                height:auto;
                padding:22px;
                width:150%;
            }
            .product_4 {
                height:auto;
                padding:22px;
                width:150%;
            }
        }
        h3 {
            @include h3_2500;
            margin-left:38px;
            margin-top:38px;
        }
        h4 {
            @include h4_2500;
            margin-left:38px;
            margin-top:38px;
            span {
                font-size:25px;
            }
        }
        .right {
            .buttons {
                padding-bottom:38px;
                margin-left:38px;
                margin-top:31px;
                a {
                    border:1.56px solid $button;
                    border-radius:7.7px;
                    font-size:21px;
                    margin-left:7.7px;
                    padding:8.1px;
                    top:2.5px;
                    img {
                        height:22px;
                        width:31px;
                    }
                }
                button {
                    font-size:21px;
                    padding:10px;
                }
            }
            .elements {
                margin-top:38px;
                .model {
                    font-size:25px;
                    margin-left:38px;
                }
                .model_info {
                    font-size:25px;
                }
            }
            .elements_color {
                .color {
                    font-size:25px;
                    margin-left:38px;
                }
                .color_info {
                    font-size:25px;
                }
            }
            .elements_delivery {
                border-bottom:1.56px solid $border;
                margin-bottom:31px;
                margin-left:38px;
                margin-right:38px;
                padding-bottom:31px;
                .delivery {
                    font-size:25px;
                }
                .delivery_info {
                    font-size:25px;
                    right:15.6px;
                }
            }
            .orders {
                font-size:25px;
                margin-left:7.7px;
            }
            .orders_area {
                img {
                    height:31px;
                    margin-left:31px;
                    width:22px;
                }
            }
            p {
                margin-left:31px;
            }
            .quantity_ar {
                .quantity {
                    font-size:25px;
                    margin-left:38px;
                }
            }
            .quantity_area {
                margin-left:38px;
                margin-top:31px;
                .form_area {
                    form {
                        margin-left:187px;
                        .la {
                            font-size:25px;
                        }
                        .mi {
                            font-size:25px;
                        }
                        .middle {
                            margin-left:22px;
                        }
                        .right {
                            margin-left:22px;
                        }
                        .sm {
                            font-size:25px;
                        }
                    }
                }
                .quantity_form {
                    .quantity_fo {
                        button {
                            border:1.56px solid $border;
                            border-radius:4.6px;
                            font-size:25px;
                        }
                        .one {
                            border:1.56px solid $border;
                            border-radius:4.6px;
                            font-size:25px;
                            padding-left:15.6px;
                            width:46px;
                        }
                    }
                }
            }
            .rew {
                font-size:25px;
                margin-left:7.7px;
            }
            .select {
                font-size:25px;
                margin-left:156px;
            }
            .stars_area {
                img {
                    height:27px;
                    margin-left:38px;
                    width:165px;
                }
            }
            .text {
                margin-left:38px;
                .info {
                    font-size:25px;
                }
            }
        }
    }
}


@media (min-width:2501px) and (max-width:3125px) {
    .section_5 {
        border:1.95px solid $border;
        border-radius:9.6px;
        margin-top:96px;
        .left {
            border:1.95px solid $border;
            .bottom {
                margin-top:66px;
                .product_images {
                    margin:9.6px;
                    .product_5 {
                        border:1.95px solid $border;
                        height:auto;
                        padding:9.6px;
                        width:175%;
                    }
                    .product_6 {
                        border:1.95px solid $border;
                        height:auto;
                        padding:9.6px;
                        width:175%;
                    }
                    .product_7 {
                        border:1.95px solid $border;
                        height:auto;
                        padding:9.6px;
                        width:175%;
                    }
                    .product_8 {
                        border:1.95px solid $border;
                        height:auto;
                        padding:9.6px;
                        width:175%;
                    }
                }
            }
            .product_1 {
                height:auto;
                padding:27px;
                width:175%;
            }
            .product_2 {
                height:auto;
                padding:27px;
                width:175%;
            }
            .product_3 {
                height:auto;
                padding:27px;
                width:175%;
            }
            .product_4 {
                height:auto;
                padding:27px;
                width:175%;
            }
        }
        h3 {
            @include h3_3125;
            margin-left:47px;
            margin-top:47px;
        }
        h4 {
            @include h4_3125;
            margin-left:47px;
            margin-top:47px;
            span {
                font-size:31px;
            }
        }
        .right {
            .buttons {
                padding-bottom:47px;
                margin-left:47px;
                margin-top:38px;
                a {
                    border:1.95px solid $button;
                    border-radius:9.6px;
                    font-size:26px;
                    margin-left:9.6px;
                    padding:10px;
                    top:3.1px;
                    img {
                        height:27px;
                        width:38px;
                    }
                }
                button {
                    font-size:28px;
                    padding:12.5px;
                }
            }
            .elements {
                margin-top:47px;
                .model {
                    font-size:31px;
                    margin-left:47px;
                }
                .model_info {
                    font-size:31px;
                }
            }
            .elements_color {
                .color {
                    font-size:31px;
                    margin-left:47px;
                }
                .color_info {
                    font-size:31px;
                }
            }
            .elements_delivery {
                border-bottom:1.95px solid $border;
                margin-bottom:38px;
                margin-left:47px;
                margin-right:47px;
                padding-bottom:38px;
                .delivery {
                    font-size:31px;
                }
                .delivery_info {
                    font-size:31px;
                    right:19.5px;
                }
            }
            .orders {
                font-size:31px;
                margin-left:9.6px;
            }
            .orders_area {
                img {
                    height:38px;
                    margin-left:38px;
                    width:27px;
                }
            }
            p {
                margin-left:38px;
            }
            .quantity_ar {
                .quantity {
                    font-size:31px;
                    margin-left:47px;
                }
            }
            .quantity_area {
                margin-left:47px;
                margin-top:38px;
                .form_area {
                    form {
                        margin-left:233px;
                        .la {
                            font-size:31px;
                        }
                        .mi {
                            font-size:31px;
                        }
                        .middle {
                            margin-left:27px;
                        }
                        .right {
                            margin-left:27px;
                        }
                        .sm {
                            font-size:31px;
                        }
                    }
                }
                .quantity_form {
                    .quantity_fo {
                        button {
                            border:1.95px solid $border;
                            border-radius:5.7px;
                            font-size:31px;
                        }
                        .one {
                            border:1.95px solid $border;
                            border-radius:5.7px;
                            font-size:31px;
                            padding-left:19.5px;
                            width:57px;
                        }
                    }
                }
            }
            .rew {
                font-size:31px;
                margin-left:9.6px;
            }
            .select {
                font-size:31px;
                margin-left:195px;
            }
            .stars_area {
                img {
                    height:33px;
                    margin-left:47px;
                    width:206px;
                }
            }
            .text {
                margin-left:47px;
                .info {
                    font-size:31px;
                }
            }
        }
    }
}


@media (min-width:3126px) {
    .section_5 {
        border:2.43px solid $border;
        border-radius:12px;
        margin-top:120px;
        .left {
            border:2.43px solid $border;
            .bottom {
                margin-top:82px;
                .product_images {
                    margin:12px;
                    .product_5 {
                        border:2.43px solid $border;
                        height:auto;
                        padding:12px;
                        width:200%;
                    }
                    .product_6 {
                        border:2.43px solid $border;
                        height:auto;
                        padding:12px;
                        width:200%;
                    }
                    .product_7 {
                        border:2.43px solid $border;
                        height:auto;
                        padding:12px;
                        width:200%;
                    }
                    .product_8 {
                        border:2.43px solid $border;
                        height:auto;
                        padding:12px;
                        width:200%;
                    }
                }
            }
            .product_1 {
                height:auto;
                padding:33px;
                width:200%;
            }
            .product_2 {
                height:auto;
                padding:33px;
                width:200%;
            }
            .product_3 {
                height:auto;
                padding:33px;
                width:200%;
            }
            .product_4 {
                height:auto;
                padding:33px;
                width:200%;
            }
        }
        h3 {
            @include h3_3850;
            margin-left:58px;
            margin-top:58px;
        }
        h4 {
            @include h4_3850;
            margin-left:58px;
            margin-top:58px;
            span {
                font-size:38px;
            }
        }
        .right {
            .buttons {
                padding-bottom:58px;
                margin-left:58px;
                margin-top:47px;
                a {
                    border:2.43px solid $button;
                    border-radius:12px;
                    font-size:32px;
                    margin-left:12px;
                    padding:12.5px;
                    top:3.8px;
                    img {
                        height:33px;
                        width:47px;
                    }
                }
                button {
                    bottom:5px;
                    font-size:35px;
                    padding:15.6px;
                    position:relative;
                }
            }
            .elements {
                margin-top:58px;
                .model {
                    font-size:38px;
                    margin-left:58px;
                }
                .model_info {
                    font-size:38px;
                }
            }
            .elements_color {
                .color {
                    font-size:38px;
                    margin-left:58px;
                }
                .color_info {
                    font-size:38px;
                }
            }
            .elements_delivery {
                border-bottom:2.43px solid $border;
                margin-bottom:47px;
                margin-left:58px;
                margin-right:58px;
                padding-bottom:47px;
                .delivery {
                    font-size:38px;
                }
                .delivery_info {
                    font-size:38px;
                    right:24.3px;
                }
            }
            .orders {
                font-size:38px;
                margin-left:12px;
            }
            .orders_area {
                img {
                    height:47px;
                    margin-left:47px;
                    width:33px;
                }
            }
            p {
                margin-left:47px;
            }
            .quantity_ar {
                .quantity {
                    font-size:38px;
                    margin-left:58px;
                }
            }
            .quantity_area {
                margin-left:58px;
                margin-top:47px;
                .form_area {
                    form {
                        margin-left:291px;
                        .la {
                            font-size:38px;
                        }
                        .mi {
                            font-size:38px;
                        }
                        .middle {
                            margin-left:33px;
                        }
                        .right {
                            margin-left:33px;
                        }
                        .sm {
                            font-size:38px;
                        }
                    }
                }
                .quantity_form {
                    .quantity_fo {
                        button {
                            border:2.43px solid $border;
                            border-radius:7.1px;
                            font-size:38px;
                        }
                        .one {
                            border:2.43px solid $border;
                            border-radius:7.1px;
                            font-size:38px;
                            padding-left:24.3px;
                            width:71px;
                        }
                    }
                }
            }
            .rew {
                font-size:38px;
                margin-left:12px;
            }
            .select {
                font-size:38px;
                margin-left:243px;
            }
            .stars_area {
                img {
                    height:41px;
                    margin-left:58px;
                    width:257px;
                }
            }
            .text {
                margin-left:58px;
                .info {
                    font-size:38px;
                }
            }
        }
    }
}